@model ReservaDeMesasMVC_.Models.AreaMesa

@{
    ViewData["Title"] = "Area da Mesa";
}

<h4>Area da Mesa</h4>
<hr />
<div class="row" style="width: 30%">
    <div class="container px-3 my-3" >
        <form asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3" >                
                <input asp-for="id" class="form-control" hidden="true"/>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="nome" class="form-control" placeholder="Nome" id="nome"/>
                <label asp-for="nome" for="nome"></label>                
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AreaMesas" class="btn btn-light">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
