@model ReservaDeMesasMVC_.Models.Reserva

@{
    ViewData["Title"] = "Reserva";
}


<h4>Reserva</h4>

@{
    var dataAtual = @DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<hr />
<div class="row" style="width: 30%">
    <div class="container px-3 my-3">
        <form asp-action="CadastrarOuAlterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">                
                <input asp-for="id" class="form-control" hidden="true"/>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="data" class="form-control" placeholder="Quantidade de lugares" id="data" asp-items="ViewBag.data" min="@dataAtual"/>
                <label asp-for="data" class="control-label" for="data"></label>
                <span asp-validation-for="data" class="text-danger"></span>               
            </div>
            <div class="form-floating mb-3">
                <input asp-for="horainicio" class="form-control" placeholder="Quantidade de lugares" id="horainicio"/>
                <label asp-for="horainicio" class="control-label" for="horainicio"></label>
                <span asp-validation-for="horainicio" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="horaFim" class="form-control" placeholder="Quantidade de lugares" id="horaFim"/>
                <label asp-for="horaFim" class="control-label" for="horaFim"></label>
                <span asp-validation-for="horaFim" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="clienteId" class="form-control" asp-items="ViewBag.clienteId" placeholder="Quantidade de lugares" id="clienteId"></select>
                <label asp-for="clienteId" class="control-label" for="clienteId"></label>
                <span asp-validation-for="clienteId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="mesaId" class="form-control" asp-items="ViewBag.mesaId" placeholder="Quantidade de lugares" id="mesaId"></select>
                <label asp-for="mesaId" class="control-label" for="mesaId"></label>                
                <span asp-validation-for="mesaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Reservas"class="btn btn-light">
        Voltar para a Lista</a>
</div>
<br />

<div>
    <a  href="@Url.Action("PreReservas","PreReserva")" class="btn btn-light">
        Lista de Pré Reservas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
