@model ReservaDeMesasMVC_.Models.Mesa
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cadastro e Alterações";
}


<h4>Mesa</h4>
<hr />
<div class="row" style="width: 30%">
    <div class="container px-3 my-3">
        <form asp-action="CadastrarOuAlterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">               
                <input asp-for="id" class="form-control" hidden ="true"/>                
            </div>
            <div class="form-floating mb-3">
                <input asp-for="qtdlugares" class="form-control" placeholder="Quantidade de lugares" id="qtdlugares"/>
                <label asp-for="qtdlugares" class="control-label" for="qtdlugares"></label>
                <span asp-validation-for="qtdlugares" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="numMesa" class="form-control" placeholder="Nº da mesa" id="numMesa"/>
                <label asp-for="numMesa" class="control-label" for="numMesa"></label>
                <span asp-validation-for="numMesa" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 form-check form-switch">
                <label class="form-check-label">
                     <input class="form-check-input" asp-for="funcionando" type="checkbox" id="funcionando")/>
                     <label class="form-check-label" for="funcionando">Mesa Funcionando</label>
                </label>
            </div>
            <div class="form-floating mb-3">
                <!--<input asp-for="idAreaMesa" class="form-control" />-->
                <select asp-for="idAreaMesa" class="form-control" asp-items="ViewBag.idAreaMesa" placeholder="Area da Mesa" id="idAreaMesa"></select>
                <label asp-for="idAreaMesa" class="control-label" for="idAreaMesa"></label>

                <span asp-validation-for="idAreaMesa" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating mb-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Mesas" class="btn btn-light">
        Voltar para a Lista</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
