@model ReservaDeMesasMVC_.Models.Usuario

@{
    ViewData["Title"] = "Usuários";
}

<h4>Usuário</h4>
<hr />
<div class="row" style="width: 30%">
    <div class="container px-3 my-3">
        <form asp-action="CadastrarOuAlterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="login" class="form-control" placeholder="Nome" id="login"/>
                <label asp-for="login" class="control-label" for="login"></label>
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="password" class="form-control" type="password" placeholder="Nome" id="password"/>
                <label asp-for="password" class="control-label" for="password"></label>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="tipo" class="form-control" placeholder="Nome" id="tipo"/>
                <label asp-for="tipo" class="control-label" for="tipo"></label>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-floating mb-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Usuarios" class="btn btn-light">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
