@model ReservaDeMesasMVC_.Models.Cliente

@{
    ViewData["Title"] = "Cadastro e Alteração de Cliente";
}

<h4>Cliente</h4>
<hr />
<div class="row" style="width: 30%">
    <div class="container px-3 my-3">
        <form asp-action="CadastrarOuAlterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <input asp-for="id" class="form-control" hidden="true" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="nome" class="form-control" placeholder="Nome" id="nome" required="required"/>
                <label asp-for="nome" class="control-label" for="nome"></label>
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="email" class="form-control" type="email" placeholder="E-mail" id="email" required="required"/>
                <label asp-for="email" class="control-label" for="email"></label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="telefone" class="form-control" placeholder="Telefone" id="telefone" required="required"/>
                <label asp-for="telefone" class="control-label" for="telefone"></label>
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="usuarioId" class="control-label"></label>
                <input asp-for="usuarioId" class="form-control" />
                <span asp-validation-for="usuarioId" class="text-danger"></span>
            </div> -->
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Clientes" class="btn btn-light">Voltar para a Lista</a>
</div>
<br />

<div>
    <a  href="@Url.Action("PreReservas","PreReserva")" class="btn btn-light">
        Lista de Pré Reservas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
